<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="261590eb-25b5-41bd-9c16-579e215078aa" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-yellow</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="dd70d299-7a29-49d1-a73e-327dfdc737b6">home</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>51e8972a-d9fb-4009-af12-014b78dbee99</Key>
      <Name>string gen</Name>
      <Alias>stringGen</Alias>
      <Definition>5adec488-dea8-40f4-9e5f-261166e4400b</Definition>
      <Type>Umbraco.Plain.String</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="unnamed">Unnamed</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>983778c7-5a82-4db4-b4e3-1d5ee64b9979</Key>
      <Caption>Unnamed</Caption>
      <Alias>unnamed</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>