<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="261590eb-25b5-41bd-9c16-579e215078aa" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-yellow</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="dd70d299-7a29-49d1-a73e-327dfdc737b6">home</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d57bf769-f98c-4da1-a339-5a0828221a21</Key>
      <Name>Suggestions</Name>
      <Alias>suggestions</Alias>
      <Definition>d49fdae7-4469-4713-85d3-52df4b808189</Definition>
      <Type>Umbraco.Plain.String</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="prop">prop</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>46f2fb5b-b33f-4f1c-88ec-bc7492104961</Key>
      <Caption>prop</Caption>
      <Alias>prop</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>