<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5adec488-dea8-40f4-9e5f-261166e4400b" Alias="Random String" Level="1">
  <Info>
    <Name>Random String</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>My.PropertyEditorUi.Random-String-Generator</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>