<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d41282d2-f974-42b9-ba74-605643c38646" Alias="Random String Generator" Level="1">
  <Info>
    <Name>Random String Generator</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>My.PropertyEditorUi.Random-String-Generator</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>