<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d49fdae7-4469-4713-85d3-52df4b808189" Alias="Suggestions" Level="1">
  <Info>
    <Name>Suggestions</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>My.PropertyEditorUi.Suggestions</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>